html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  font-size: 18px;
  font-family: Helvetica, arial, sans-serif;
}
body {
  margin: 0;
}
.container {
}
.left-column {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  overflow: scroll;
  background-image: url('../images/background.jpeg');
  background-size: cover;
  background-position: center center;
  margin-right: 5%;
  color: #FFF;
  padding: 40px;
}
.left-column > img {
  width: 100%;
  height: auto;
}
.logo {
  display: inline-block;
  font-size: 25px;
  margin: 10px;
}
.left-Button {
  display: inline-block;
  float: right;
  background: none;
  color: inherit;
  font-size: 18px;
  border: 1px solid #fff;
  margin: 5px;
}
.left-Nav {
  display: inline-block;
  list-style: none;
  margin: 5px;
  padding: 5px;
}
.left-Nav > li {
  display: inline-block;
}
.left-Nav > li:after {
  content: &harr;
}
.left-Nav > li:last-of-type:after {
  content: none;
}
.left-Nav > li > a {
  text-decoration: none;
  color: #fff;
}
.left-Nav > li > a:hover {
  text-decoration: none;
  color: #f09523;
}
.left-line {
  width: auto;
  height: 0;
  border: 1px solid #fff
}
.head-text-a > h1 {
  font-size: 47px;
}
.head-text-b > p {
  margin: 40px;
  font-size: 25px;
}
.line-sep {
  border-bottom: 1px solid #fff
}
.right-column {
  top: 0;
  bottom: 0;
  position: absolute;
  width: 50%;
  height: 100%;
  font-size: 1.5vw;
  font-family: Helvetica;
  margin-left: 50%;
  min-height: 200px;
  padding: 40px;
  line-height: 27px;
  color: #262682;
  overflow: scroll;
}
.right-Button {
  text-align: right;
  text-decoration: none;
  height: 25%;
}
.right-Button > a {
  color: #262682;
  text-decoration: none;
}
.right-Button > a:hover {
  color: #f09523;
}
.right-Button > img {
  width: 100%;
  height: auto;
}
@media all and (max-width: 950px) {
  .container {
    width: 100%;
  }
  .left-column, .right-column {
    width: auto;
    margin: 0;
    position: relative;
  }
}

